*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.list-items{
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #48944b;
    color: white;
    position: relative;
    font-family: 'Poppins', sans-serif;
    border-bottom: 1px solid #f8f8f8;
}
.list-items ul{
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    height: 100%;
    margin: 0;
    padding: 0;
}
.left-items{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.list-items li{
    padding: 0px 10px;
    height: 100%;
    font-weight: 500;
}
.right-items{
    display: flex;
    justify-content: center;
    align-items: center;
}
.hamburger div{
    width: 20px;
    height: 2px;
    margin: 4px;
    background-color: #0274be;
}
.hamburger{
    display: none;
}
.hamburger div:last-child{
    margin-bottom: 0;
}
.logo{
    display: none;
}
.list-items a, .nav-logo a{
    text-decoration: none;
    color: #0274be;
}
.list-items a{
    color: white;
}
.nav-logo{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo1 img{
    width: 100% !important;
}
.next-nav{
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 15vh;
}
.logo1{
    width: 30%;
}
.logo1 img{
    width: 100%;
}
.btn{
    background-color: #57ab55;
}
.btn:hover{
    background-color: #48944b;
}
.main{
    background-image: 
    linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url(https://www.pharmacyquality.com/wp-content/uploads/2020/02/Newhappypharmacist.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: 'Noto Sans', sans-serif;
    color: white;
}
.left-main{
    width: 50%;
}
.right-main{
    width: 20%;
}
.left-main p:first-child{
    font-size: 3rem;
    font-weight: bold;
}
.left-main p:not(:first-child){
    font-size: 1.2rem;
}
.left-main a{
    text-decoration: none;
    color: white;
}
.btn{
    padding: 10px 30px;
    transition: all .3s;
    border: none;
}
.button{
    width: 60%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.btn1:hover, .btn2:hover{
    background-color: #48944b;
    color: white;
    border: 1px solid #ddd;
}
.btn1, .btn2{
    background-color: transparent;
    border: 1px solid #ddd;
    border-radius: .6rem;
}
button a{
    text-decoration: none;
}
.btn2 a, .btn1 a{
    color: white;
}
.next{
    padding: 5%;
}
.box-pd{
    margin: 5%;
}
.box{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.box1, .box2, .box3{
    width: 32%;
    height: 45vh;
    padding: 10px;
    box-shadow: 0 0 10px 0 rgb(0 0 0 / 20%);
    text-align: center;
}
.next > p{
    text-align: center;
    font-weight: bold;
    font-size: 1.8rem;
    padding: 2%;
}
.box1 i, .box2 i, .box3 i{
    font-size: 3.5rem;
    padding: 5% 0%;
}
.box1 p, .box2 p, .box3 p{
    margin: 0;
}
.box1:hover, .box2:hover, .box3:hover{
    background-color: rgba(125, 181, 191, 0.1);
}
.box1 p:nth-child(2), .box2 p:nth-child(2), .box3 p:nth-child(2){
    font-size: 1.2rem;
    padding: 5% 0%;
    font-weight: bold;
}
.btn-pd a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}
.product > p{
    font-size: 1.8rem;
    padding: 2%;
    text-align: center;
    font-weight: bold;
}
.box-pd{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.box-1, .box-2, .box-3, .box-4, .box-5{
    width: 19%;
    padding: 10px;
    border: 2px solid #eee;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 55vh;
    transition: border .5s;
    border-radius: .3rem;
    box-shadow: 0 0 10px 0 rgb(0 0 0 / 20%);
}
.box-1 p, .box-2 p, .box-3 p, .box-4 p, .box-5 p{
    font-weight: bold;
}
.box-1:hover, .box-2:hover, .box-3:hover, .box-4:hover, .box-5:hover{
    border: 2px solid blue;
}
.box-1 img, .box-2 img, .box-3 img, .box-4 img, .box-5 img{
    width: 100%;
}
.box-pd button{
    padding: 10px 40px;
}
.form{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0% 5% 5% 5%;
    position: relative;
}
.left-form{
    width: 45%;
    height: 100%;
}
.left-form input{
    width: 100%;
    padding: 10px;
    border-radius: .3rem;
    margin: 2% 0%;
    border: 1px solid #ddd;
}
.left-form span{
    color: red;
}
.left-form p{
    font-weight: bold;
}
.left-form p:first-child{
    font-size: 2rem;
    position: absolute;
    top: 0;
}
.right-form{
    width: 50%;
}
.right-form img{
    width: 100%;
}
.text1{
    padding: 30px !important;
    overflow: scroll;
}
.left-form input:last-child{
    background-color: #48944b;
    color: white;
    font-weight: bold;
}
footer{
    background-color: #eef4f5;
}
.footer-1{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 2% 0%;
    margin: 0% 10%;
    color: #48944b;
    border-bottom: 1px solid #ccc;
}
.footer-1 p{
    margin: 0;
}
.footer-1 p:first-child{
    margin-bottom: 10%;
}
.footer-1 a{
    color: #48944b;
    text-decoration: none;
}
.first{
    width: 30%;
    height: 100%;
}
.second{
    width: 50%;
    padding: 0% 10%;
}
.second i{
    padding-right: 10px;
}
.second p:first-child{
    font-size: 2rem;
    font-weight: bold;
}
.third{
    width: 20%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.third i{
    width: 35px;
    height: 35px;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 1.2rem;
}
.first img{
    width: 100%;
}
.bottom{
    color: #57ab55;
    text-align: center;
    padding: 2% 0% 3% 0%;
    font-weight: bold;
}
.second-type{
    border-top: 1px solid #ddd;
    display: flex;
    padding: 5%;
    justify-content: space-around;
}
.first-main{
    width: 30%;
}
.second-main{
    width: 30%;
    border-right: 1px solid #ddd;
}
.second-main p:nth-child(1){
    color: #777;
    font-size: .8rem;
}
.second-main span{
    color: #48944b;
}
.second-main p:nth-child(2){
    padding-bottom: 10%;
    font-size: 1.5rem;
    font-weight: bold;
}
.second-main p:nth-child(3){
    border-top: 1px solid #ddd;
    padding: 5% 0%;
    width: 90%;
}
.third-main{
    width: 30%;
}
.first-main img{
    width: 100%;
}
.next-type{
    font-size: 1.2rem;
    font-weight: bold;
    margin: 0% 5%;
}
.card-product{
    padding: 5%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
.box-product img{
    width: 100%;
}
.box-product{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 5% 0%;
}
.box-product a{
    color: black;
    text-decoration: none;
}
.box-product p:nth-child(2){
    font-size: .8rem;
    color: #777;
    text-align: left;
}
.btn0 a{
    color: white;
}
.img-zoom-container{
    position: relative;
}
.img-zoom-lens{
    position: absolute;
    border: 1px solid #d4d4d4;
    width: 40px;
    height: 40px;
  }
@media screen and (max-width: 1200px){
    .button{
        width: 80%;
    }
    .box-pd button{
        padding: 10px 20px;
    }
    .left-form p:first-child{
        position: inherit;
    }
}
@media screen and (max-width: 950px){
    .box-pd{
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
    .box-1, .box-2, .box-3, .box-4, .box-5{
        width: 29%;
        margin: 2%;
        padding: 20px;
        height: 50vh;
    }
    .box-1 p, .box-2 p, .box-3 p, .box-4 p, .box-5 p{
        font-size: .8rem;
    }
    .left-form input{
        padding: 5px;
    }
}
@media screen and (max-width: 900px){
    .btn{
        padding: 10px 15px;
    }
    .box1 p:nth-child(2), .box2 p:nth-child(2), .box3 p:nth-child(2){
        font-size: 1rem;
    }
    .box1 p:nth-child(3), .box2 p:nth-child(3), .box3 p:nth-child(3){
        font-size: .9rem;
    }
    .left-main p:first-child{
        font-size: 2rem;
    }
    .next > p{
        font-size: 1.5rem;
        padding: 5%;
    }
    
}
@media screen and (max-width: 800px){
    .div{
        overflow-x: hidden;
    }
    .hamburger, .ct-block, .logo{
        display: block;
        color: #0274be;
    }
    .hamburger div{
        background-color: white;
    }
    .hamburger:hover{
        cursor: pointer;
    }
    .ct-block{
        position: absolute;
        top: 15vh;
        width: 80%;
        height: 85vh;
        background-color: white;
        right: 0;
        transition: all .5s ease;
        transform: translateX(105%);
        box-shadow: 0 0 25px -3px #888888;
    }
    .ct-block li{
        padding: 10px;
    }
    .logo img{
        width: 100%;
        height: 100%;
    }
    .list-items{
        height: 15vh;
        background-color: #48944b;
    }
    .left-items, .right-items{
        display: none;
    }
    .transform{
        transform: translateX(0%);
    }
    .nav-logo{
        display: none;
    }
    .list-items a{
        color: #0274be;
    }
    .main{
        background-position: right;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .left-main{
        width: 100%;
        text-align: center;
    }
    .button{
        width: 100%;
        justify-content: center;
    }
    .button .btn{
        margin: 10px;
    }
    .right-main{
        width: 0;
    }
    .logo1{
        width: 60%;
    }
    .logo1 img{
        width: 100%;
    }
    .box{
        display: block;
    }
    .box1, .box2, .box3{
        width: 100%;
        margin: 5% 0%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
    .box i{
        font-size: 5rem;
    }
    .box1 p:nth-child(2), .box2 p:nth-child(2), .box3 p:nth-child(2){
        font-size: 1.5rem;
        padding: 2%;
    }
    .box1 p:nth-child(3), .box3 p:nth-child(3), .box3 p:nth-child(3){
        font-size: 1rem;
    }
    .box-pd{
        display: block;
    }
    .box-1, .box-2, .box-3, .box-4, .box-5{
        width: 100%;
        height: 100%;
        margin: 5% 0%;
    }
    .box-pd button{
        padding: 10px 30px;
    }
    .box-1 p, .box-2 p, .box-3 p, .box-4 p, .box-5 p{
        font-size: 1rem;
    }
    .form{
        display: block;
    }
    .right-form, .left-form{
        width: 100%;
    }
    .footer-1{
        display: block;
        margin: 0;
        padding: 5% 0%;
    }
    .first{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 5%;
    }
    .second{
        width: 100%;
        padding: 0% 5%;
        padding-bottom: 5%;
        line-height: 30px;
    }
    .third{
        width: 100%;
        justify-content: center;
    }
    .third i{
        margin: 5px;
    }
    .first img{
        width: 30%;
    }
    .footer-1 p:first-child{
        margin-bottom: 5%;
    }
    .second-type{
        display: block;
    }
    .first-main, .second-main{
        width: 100%;
        border-right: none;
    }
}

@media screen and (max-width: 500px){
    .left-main p:first-child{
        font-size: 2rem;
    }
}